Data/CombinedGenerated/
Data/Freiburg/
Data/FreiburgRegenerated/
Data/TNT/
Data/Scientific/
Data/Test/
Data/AffineRegions/
Data/Oxfrei/
Data/COCO/
Software/MATLAB/AfineRegions/ImageThresholdingFuzzyEntropy/
Results/
TestResults/
Presentations/
Publications/Papers/ICIP2016/*.prv
Publications/Papers/ICIP2016/*.dvi
Publications/Papers/ICIP2016/*.bbl
Publications/Report/overview.pdf
Publications/Papers/ICIP2016/Reviews/
Publications/Papers/ICIP2016/ranguelova*.*
Publications/ResearchDirections/MasterStudentProposal.*
Data/AffineRegions/bikes/*.ppm
Software/Python/Notebooks/.ipynb_checkpoints/
Software/Python/dist
Software/Python/build
Software/Python/docs/_build
Software/Python/docs/_static
Software/Python/docs/_templates
*.aux
*.toc
*.*~
*.log
*.asv
*.blg
*.out
*.pyc
*.egg
*.egg-info
